/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  width: 100%;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
/* ====================================== */
/* .reviews__slider
.reviews__slider-item */
.reviews__slider .slick-list {
  margin-bottom: 44px;
}

.reviews__slider .slick-dots {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.reviews__slider .slick-dots li {
  list-style: none;
}
.reviews__slider .slick-dots li.slick-active button {
  background-color: #ff6433;
}
.reviews__slider .slick-dots li button {
  font-size: 0;
  width: 32px;
  height: 4px;
  background-color: #939191;
}
